# Core dependencies
flask==2.3.2
flask-cors==3.0.10
flask-mailman==0.3.0
python-dotenv==1.0.0
flask-limiter==3.3.0
python-magic==0.4.27
numpy==1.24.3
opencv-python==4.7.0.72
ultralytics==8.0.124
torch==2.0.1
torchvision==0.15.2
Pillow==9.5.0
python-dotenv==1.0.0

# Development dependencies
pytest==7.3.1
black==23.3.0
flake8==6.0.0